<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="PublicDirectory" value="c:\temp\jet" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="UserName" value="9E058C9775827B1FE462CC2D3DB310970FF5814A"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="wg3tlAJH0JM8wmsTPCB3b+nO6EKXaitupGwDfaRptIJ2"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailList" value="erfle@ppg.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailFrom" value="webhelp@homaxproducts.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SmtpServer" value="smtpgate.go.ppg.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="NetsuiteIntegrationEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=webbsida.homax.local;initial catalog=NetsuiteIntegration;user id=webapps;password=2manypennies;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>